:root {
    --vermelho:#E50914;
    --preta:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Basic Elements*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Cria um espaçp entra as Tags filhas do .container a <h2> e a <nav>*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:  40px;
}

header div a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header div a:hover {
    color: #fff;
}

/*Main Movie*/
.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/backgorund-lovecreaft.jpg);

    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
}